*~
O.*
*.swp
*BAK.adl
bin/
builddir/
configure/RELEASE_LIBS.local
configure/RELEASE_PATHS.local
/db/
dbd/
html/
include/
/iocsh/
lib/
templates/
cdCommands
envPaths
dllPath.bat
auto_settings.sav*
auto_positions.sav*
.ccfxprepdir/
*.local
