*~
O.*/
*.swp
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
iocBoot/iocmotorSim/motor.substitutions.local
.project
auto_settings.sav*
auto_positions.sav*
.ccfxprepdir/
