*~
O.*/
*.swp
*BAK.adl
/bin/
/db/
/dbd/
/html/
/include/
/lib/
/templates/
cdCommands
envPaths
dllPath*.bat
runIOC.bat
runIOC.sh
relPaths.sh
iocBoot/iocmotorSim/motor.substitutions.local
.project
auto_settings.sav*
auto_positions.sav*
.ccfxprepdir/
