[submodule "modules/motorNewport"]
	path = modules/motorNewport
	url = https://github.com/epics-motor/motorNewport.git
[submodule "modules/motorDeltaTau"]
	path = modules/motorDeltaTau
	url = https://github.com/epics-motor/motorDeltaTau.git
[submodule "modules/motorAerotech"]
	path = modules/motorAerotech
	url = https://github.com/epics-motor/motorAerotech.git
[submodule "modules/motorSmarAct"]
	path = modules/motorSmarAct
	url = https://github.com/epics-motor/motorSmarAct.git
[submodule "modules/motorParker6K"]
	path = modules/motorParker6K
	url = git@github.com:CentralLaserFacility/motorParker6K.git
	branch = development
[submodule ".ci"]
	path = .ci
	url = https://github.com/epics-base/ci-scripts
[submodule "modules/motorAcsMotion"]
	path = modules/motorAcsMotion
	url = https://github.com/epics-motor/motorAcsMotion.git
	branch = master
[submodule "motorNewFocus"]
	path = motorNewFocus
	url = https://github.com/CentralLaserFacility/motorNewFocus
	branch = development
