record(bi,"$(P)$(R)") {
    field(PINI, "YES")
    field(DTYP,"asynUInt32Digital")
    field(INP,"@asynMask($(PORT) 0 $(MASK))ACR_BINARY_IN")
    field(SCAN, "$(SCAN)")
    field(ZNAM, "Low")
    field(ONAM, "High")
}
